.topo {
display: flex;
justify-content: space-between;
background: white; 
height: 60px;
}

.subtitle {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 30px;
}

.mediaLinks {
align-items: center;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 15px;


}
.par {
text-align: center;
padding-top: 10px;
padding-bottom: 40px;
padding-right: 10px;
padding-left: 10px;

}
h3 {
font-size: 22px;
}

.darth { 
font-size: 28px;
padding-top: 30px;
padding-bottom: 80px;
background: white;
color: black;
widht: 800px;
margin: 35px;
}

.força {
font-size: 22px;
text-decoration: none;
color: yellow;
background: black;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 60px;
padding-left: 60px;
border-radius: 10px;

}

body { 
font-family: Arial;
background: url(background.jpg);
text-align: center; 
margin: 0; 
}